In [1]:
import numpy as np
import pandas as pd

In [2]:
autos=pd.read_csv('autos.csv', sep='\s+', names=['MPG', 'Cylinders', 'Displacement', 'Horse power',
           'Weight', 'Acceleration', 'Model Year', 'Origin', 'Car Name'])
autos

,MPG,Cylinders,Displacement,Horse power,Weight,Acceleration,Model Year,Origin,Car Name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [3]:
#autos=autos.dropna()
#autos.isnull().sum()

## 4.3.1 ¿Qué coche pesa más de 5000 kg?

In [4]:
autos_mayores_5000 = autos[autos['Weight'] > 5000]
autos_mayores_5000['Car Name']

51    pontiac safari (sw)
Name: Car Name, dtype: object

## 4.3.2 ¿Cuál es el número de cilindros más frecuente en los coches que son del año 76?

In [5]:
autos_76=autos[autos['Model Year']==76]
autos_76.head()

,MPG,Cylinders,Displacement,Horse power,Weight,Acceleration,Model Year,Origin,Car Name
189,28.0,4.0,107.0,86.0,2464.0,15.5,76.0,2.0,fiat 131
190,25.0,4.0,116.0,81.0,2220.0,16.9,76.0,2.0,opel 1900
191,25.0,4.0,140.0,92.0,2572.0,14.9,76.0,1.0,capri ii
192,26.0,4.0,98.0,79.0,2255.0,17.7,76.0,1.0,dodge colt
193,27.0,4.0,101.0,83.0,2202.0,15.3,76.0,2.0,renault 12tl

In [12]:
autos_76['Cylinders'].mode()

0    4.0
dtype: float64

## 4.3.3 Compara el consumo medio de los coches fabricados en el año 70 con los del año 79 y calcula la diferencia.

In [8]:
autos_70=autos[autos['Model Year']==70]
autos_79=autos[autos['Model Year']==79]

In [9]:
autos_70['MPG'].mean()

17.689655172413794

In [10]:
autos_79['MPG'].mean()

25.09310344827585

solución: Comparando las medias de consumo entre los coches de 1970 y 1979 podemos observar como los coches más reciente consumen má que los antiguos

## 4.3.7 Crea un DataFrame de los modelos con 6 o más cilindros, que pesén más de 4000 kg y consumen menos o igual que 10 galón por milla, filtrando el dataset original.

In [11]:
autos_filtrado=autos[(autos['Cylinders']>=6) & (autos['Weight']>4000) & (autos['MPG']<=10)]
autos_filtrado

,MPG,Cylinders,Displacement,Horse power,Weight,Acceleration,Model Year,Origin,Car Name
31,10.0,8.0,360.0,215.0,4615.0,14.0,70.0,1.0,ford f250
32,10.0,8.0,307.0,200.0,4376.0,15.0,70.0,1.0,chevy c20
34,9.0,8.0,304.0,193.0,4732.0,18.5,70.0,1.0,hi 1200d

In [21]:
null_columns=autos.columns[autos.isnull().any()]
autos[null_columns].isnull().sum()
print(autos[autos.isnull().any(axis=1)])

      MPG  Cylinders  Displacement  Horse power  Weight  Acceleration  \
10    NaN        4.0         133.0        115.0  3090.0          17.5
11    NaN        8.0         350.0        165.0  4142.0          11.5
12    NaN        8.0         351.0        153.0  4034.0          11.0
13    NaN        8.0         383.0        175.0  4166.0          10.5
14    NaN        8.0         360.0        175.0  3850.0          11.0
17    NaN        8.0         302.0        140.0  3353.0           8.0
38   25.0        4.0          98.0          NaN  2046.0          19.0
39    NaN        4.0          97.0         48.0  1978.0          20.0
133  21.0        6.0         200.0          NaN  2875.0          17.0
337  40.9        4.0          85.0          NaN  1835.0          17.3
343  23.6        4.0         140.0          NaN  2905.0          14.3
361  34.5        4.0         100.0          NaN  2320.0          15.8
367   NaN        4.0         121.0        110.0  2800.0          15.4
382  23.0        4.0         151.0          NaN  3035.0          20.5

     Model Year  Origin                          Car Name
10         70.0     2.0              citroen ds-21 pallas
11         70.0     1.0  chevrolet chevelle concours (sw)
12         70.0     1.0                  ford torino (sw)
13         70.0     1.0           plymouth satellite (sw)
14         70.0     1.0                amc rebel sst (sw)
17         70.0     1.0             ford mustang boss 302
38         71.0     1.0                        ford pinto
39         71.0     2.0       volkswagen super beetle 117
133        74.0     1.0                     ford maverick
337        80.0     2.0              renault lecar deluxe
343        80.0     1.0                ford mustang cobra
361        81.0     2.0                       renault 18i
367        81.0     2.0                         saab 900s
382        82.0     1.0                    amc concord dl

In [20]:
df_null = pd.DataFrame (null_columns)
df_null

             0
0          MPG
1  Horse power