In [68]:
import pandas as pd
import numpy as np

In [69]:
autos = pd.read_csv('autos.csv', delimiter=';')
autos

    18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"
0    15.0   8.   350.0      165.0      3693.      1...
1    18.0   8.   318.0      150.0      3436.      1...
2    16.0   8.   304.0      150.0      3433.      1...
3    17.0   8.   302.0      140.0      3449.      1...
4    15.0   8.   429.0      198.0      4341.      1...
..                                                 ...
400  27.0   4.   140.0      86.00      2790.      1...
401  44.0   4.   97.00      52.00      2130.      2...
402  32.0   4.   135.0      84.00      2295.      1...
403  28.0   4.   120.0      79.00      2625.      1...
404  31.0   4.   119.0      82.00      2720.      1...

[405 rows x 1 columns]

Miramos a ver si tenemos algun valor nulo

In [70]:
autos.isna().sum()

18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"    0
dtype: int64

In [72]:
autos=pd.read_csv('autos.csv', delimiter='\s+', names=['MPG', 'Cylinders', 'Displacement', 'Horse power',
           'Weight', 'Acceleration', 'Model Year', 'Origin', 'Car Name'])
autos

,MPG,Cylinders,Displacement,Horse power,Weight,Acceleration,Model Year,Origin,Car Name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [73]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     406 non-null    float64
 2   Displacement  406 non-null    float64
 3   Horse power   400 non-null    float64
 4   Weight        406 non-null    float64
 5   Acceleration  406 non-null    float64
 6   Model Year    406 non-null    float64
 7   Origin        406 non-null    float64
 8   Car Name      406 non-null    object
dtypes: float64(8), object(1)
memory usage: 28.7+ KB

4.3.1 ¿Qué coche pesa más de 5000 kg?

In [81]:
autos.loc[autos['Weight'] > 5000]

,MPG,Cylinders,Displacement,Horse power,Weight,Acceleration,Model Year,Origin,Car Name
51,13.0,8.0,400.0,175.0,5140.0,12.0,71.0,1.0,pontiac safari (sw)

4.3.2 ¿Cuál es el número de cilindros más frecuente en los coches que son del año 76?

In [92]:
autos[autos['Model Year']==76.0]['Cylinders'].mode()

0    4.0
dtype: float64

4.3.3 Compara el consumo medio de los coches fabricados en el año 70 con los del año 79 y calcula la diferencia.

In [95]:
consumo_70 = autos[autos['Model Year']==70.0]['MPG'].mean()
consumo_70

17.689655172413794

In [96]:
consumo_79 = autos[autos['Model Year']==79.0]['MPG'].mean()
consumo_79

25.09310344827585

In [97]:
difference = abs(consumo_70-consumo_79)
difference

7.403448275862058

4.3.4 Identifica las variables que contienen valores nulos (missing values) en caso que haya alguno.

In [74]:
autos.columns[autos.isnull().any()]

Index(['MPG', 'Horse power'], dtype='object')

4.3.5 Consigue un DataFrame de aquellos registros que tengan algún valor nulo (NaN), filtrando el DataFrame original.

In [75]:
autos.dropna(axis=0, inplace=True)

In [76]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           392 non-null    float64
 1   Cylinders     392 non-null    float64
 2   Displacement  392 non-null    float64
 3   Horse power   392 non-null    float64
 4   Weight        392 non-null    float64
 5   Acceleration  392 non-null    float64
 6   Model Year    392 non-null    float64
 7   Origin        392 non-null    float64
 8   Car Name      392 non-null    object
dtypes: float64(8), object(1)
memory usage: 30.6+ KB

In [77]:
autos.columns[autos.isnull().any()]

Index([], dtype='object')

4.3.6 Calcula la frecuencia del número de cilindros entre los registros del DataFrame anterior (la tabla con valores perdidos).

In [101]:
autos['Cylinders'].mode()

0    4.0
dtype: float64

4.3.7 Crea un DataFrame de los modelos con 6 o más cilindros, que pesén más de 4000 kg y consumen menos o igual que 10 galón por milla, filtrando el dataset original.

In [124]:
autos_filtrado=autos[(autos['Cylinders']>=6) & (autos['Weight']>4000) & (autos['MPG']<=10)]
autos_filtrado

,MPG,Cylinders,Displacement,Horse power,Weight,Acceleration,Model Year,Origin,Car Name
31,10.0,8.0,360.0,215.0,4615.0,14.0,70.0,1.0,ford f250
32,10.0,8.0,307.0,200.0,4376.0,15.0,70.0,1.0,chevy c20
34,9.0,8.0,304.0,193.0,4732.0,18.5,70.0,1.0,hi 1200d